body{padding: 5em;}

h1,h2{text-align: center;}

img.poster{border: 5px solid #000;
	padding-bottom:0;
	margin-bottom: 2em;}

p, h3{width:750px;}
/*The next rule centers and spaces the media*/
img, video, audio, canvas, p, h3{
    display: block; 
    margin: 0 auto;
    padding-bottom: 2em}
.credits{font-size: 0.5em;
    color: rgb(200,200,200);}